.gridSection {
  margin: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggleText {
  cursor: pointer;
  color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
}

.cardsWrapper {
  margin-top: 1rem;
}

@media screen and (max-width: 440px) {
  .wrapper {
    gap: 20px;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
